body {
    padding: 2em;
}


h1 {
    color: #0E3D65;
}

pre {
    border: 1px solid #0E3D65;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #0E3D65;
    /*    width: 40%;*/
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #0E3D65;
}
