body {
    padding: 2em;
}

header {
    border: 5px solid #F6B018;
    background-color: #0E3D65;
    font-family: sans-serif;
    padding: .5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #F6B018;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #0E3D65;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0E3D65;
}

/*h2 {*/
/*    color: #F6B018;*/
/*    border: 2px solid #F6B018;;*/
/*}*/

input {
    width: 80%;
}

pre {
    border: 1px solid #0E3D65;
    padding: 1em;
    margin: 2em;
}

textarea {
    width: 80%;
}

.button {
    border: 3px solid #0E3D65;
    color: #0E3D65;
    background-color: #F6B018;
    border-radius: 10px;
    padding: 10px;
    margin: 1em;
}

.card {
    margin: 20px;
    border: 1px solid #0E3D65;
    width: 40%;
    float: left;
}

.card-wide {
    width: 80%;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #0E3D65;
}
