<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://revealjs.com/css/reveal.css">
    <link rel="stylesheet" href="https://revealjs.com/css/theme/white.css">
    <link rel="stylesheet" href="https://revealjs.com/lib/css/zenburn.css" />
    <link rel="stylesheet" href="slides.css">
</head>

<body>

    <div class="reveal">
        <div class="slides">
            <!--     data-separator="\n---\n" data-separator-vertical="\n--\n"       -->
            <section data-markdown data-separator="\n## " data-separator-vertical="\n### ">
                <textarea data-template>
                {{ slideshow }}
                </textarea>
            </section>
        </div>
    </div>

    <script src="https://revealjs.com/lib/js/head.min.js"></script>
    <script src="https://revealjs.com/js/reveal.js"></script>
    <script src="slides.js"></script>

</body>

</html>
